<% if @user %>
  <h1>Signup!</h1>

  <%= session[:user_id].inspect %>

  <%= form_for :user, url: '/users', :html => { :class => "form-horizontal", :class => "form" } do |f| %>

  <!-- ERROR messages-->

    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@user.errors.count, "error") %> prohibited user from being saved:
        </h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <!-- USER FORM-->
  <div class="control-group">
    <%= f.label :'Username:', :class=>"control-label" %>
    <%= f.text_field :username, :class=>"form-control" %>
  </div>

  <div class="control-group">
    <%= f.label :'email:', :class=>"control-label" %>
    <%= f.text_field :email, :class=>"form-control" %>
  </div>

  <div class="control-group">
    <%= f.label :'password:', :class=>"control-label" %>
    <%= f.password_field :password, :class=>"form-control" %>
  </div>

  <div class="control-group">
    <%= f.label :'password confirmation:', :class=>"control-label" %>
    <%= f.password_field :password_confirmation, :class=>"form-control" %>
  </div>

  <div class="control-group">
    <%= f.label :'Profile Picture:', :class=>"control-label" %>
    <%= f.text_field :photo_url, :class=>"form-control" %>
  </div>

  <div class="control-group">
    <%= f.label :'Profile Biography:', :class=>"control-label" %>
    <%= f.text_area :biography, :class=>"form-control" %>
  </div>

  <div class="control-group", class="radio">
    <%= f.label :merchant, "sign up to be a registered merchant" %>
    <%= f.label :merchant, "Yes" %>
    <%= f.radio_button :merchant, true %>
    <%= f.label :merchant, "No" %>
    <%= f.radio_button :merchant, false %>
  </div>

  <div class="form-actions">
    <%= f.submit class:'btn btn-success' %>
  <% end %>

<% end %>
