<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src=<%= @user.profile_pic %> class="img-responsive" alt="">

				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						<%= @user.username %>
					</div>
					<div class="profile-usertitle-job">
            <%= @user.email %>
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->


				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="#">
							<i class="glyphicon glyphicon-home"></i>
							Overview </a>
						</li>
            <li class = "link">
              <%= link_to user_products_path(@user) do%>
                <i class="glyphicon glyphicon-tags"></i>
                View My Products
              <% end %>
            </li>

            <% if @user.current_user?(current_user) %>
              <li class = "link">
                <%= link_to edit_user_path(@user) do%>
                <i class="glyphicon glyphicon-user"></i>
                Update Account
                <% end %>
              </li>
              <li class = "link">
                <%= link_to user_orders_path(@user) do%>
                <i class="glyphicon glyphicon-user"></i>
                View Orders
                <% end %>
              </li>
              <% if @user.merchant == true %>
                <li class = "link">
                  <%= link_to new_user_product_path(@user.id) do%>
                    <i class="glyphicon glyphicon-grain"></i>
    							  Create New Product
                  <% end %>
                </li>
                <li class = "link">
                  <%= link_to sold_orders_path(@user.id) do%>
                  <i class="glyphicon glyphicon-user"></i>
                  View Sales
                  <% end %>
                </li>
              <% else %>
              <li class = "link">
                <%= link_to new_user_path(@user), :controller => "user", :action => "show", :merchant_request => "true" do%>
                  <i class="glyphicon glyphicon-tags"></i>
                  Merchant Sign up
                <% end %>
              </li>
            <% end %>
          <% end %>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
      <div class="profile-content">
        <h2>Welcome <%= @user.username.capitalize %></h2>
        <p>Biography: <%= @user.biography %></p>
      </div>
		</div>
	</div>
</div>
<center>
<strong>Powered by <a href="http://github.com/sophiabaldonado/betsy" target="_blank">TEAm</a></strong>
</center>
<br>
<br>
