<h1>Welcome <%= @user.username.capitalize %></h1>
<h2>Account Information</h2>
<%= session.fetch(:session_id) %>
<%= session[:user_id].inspect %>


<% if @user.photo_url %>
  <div>
    <img src= "<%= @user.photo_url %>" alt="@user profile pic" height="150" width="150">  <!-- if no image generate a generic one -->
  </div>
<% end %>
<div>
  <table>
    <tr>
      <td>Name</td>
      <td><%= @user.username %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td>Bio</td>
      <td><%= @user.biography %></td>
    </tr>
  </table>
</div>

<% if @user.merchant == 1 %>
  <h3>MERCHANT INFO STUFF</h3>
<% end %>
