<h1>Traverse</h1>
<p>Traverse the Universe!</p>

<div class= "photos">

  <%= image_tag "floral-vases" %>

<%= image_tag "needle-point-pillow-1" %>

<%= image_tag "quartz-knobs" %>

<%= image_tag "incense-holder-2" %>

<%= image_tag "stained-glass-wind-chime-2" %>



<%= image_tag "hammock" %>

<%= image_tag "macrame-plant-hangers" %>

<%= image_tag "moroccan-tea-set" %>

<%= image_tag "felted-cat-bed" %>

<%= image_tag "glass-lanterns" %>

<%= image_tag "antler-mirror" %>


</div>
