<h1>Review Your Order</h1>
<ul>
  <% @cart_items.each do |cart_item| %>
    <li>Name: <%= cart_item.product.name %></li>
    <li>Quantity:
      <%= form_tag(controller: "orders", action: "update_cart", method: "patch") do %>
        <div class="form-group">
          <%= hidden_field_tag(:id, cart_item.id) %>
          <%= select_tag(
            :quantity,
            options_for_select(1..30, cart_item.quantity),
            id: "quantity") %>
        </div>
        <%= submit_tag"Update" %>
      <% end %>

    </li>
    <li>Price: <%= price_by_quantity(cart_item) %></li>
  <% end %>
</ul>
<aside>
  <p>Subtotal: <%= @subtotal %></p>
</aside>

<%= render 'billing' %>
<%= form_for @order do |f| %>
  <%= f.submit %>
<% end %>

<%= params %>
