<div id="all">
  <div id="content">
    <div class="container">
      <div class="col-md-9" id="basket">
        <div class="box">

          <h1>Shopping cart</h1>
          <p class="text-muted">You currently have <%= number_of_cart_items %> item(s) in your cart.</p>

          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th colspan="2">Product</th>
                  <th>Quantity</th>
                  <th>Unit price</th>
                  <th>Discount</th>
                  <th colspan="2">Total</th>
                </tr>
              </thead>

              <tbody>
              <% @cart_items.each do |cart_item| %>
              <tr>
                <td>
                  <a href="#">
                      <%= image_tag cart_item.product.photo_url %>
                  </a>
                </td>
                <td><a href=<%="/products/#{cart_item.product.id}"%>><%=cart_item.product.name.capitalize%></a>
                </td>
                <td>
                    <%= form_tag(controller: "orders", action: "update_cart", method: "patch") do %>
                    <div class="form-group">
                    <%= hidden_field_tag(:id, cart_item.id) %>
                    <%= select_tag(:quantity,  options_for_select((1..cart_item.product.inventory).to_a, cart_item.quantity), id: "quantity"  ) %></div>
                    <%= submit_tag"Edit", class: "btn btn-primary"   %>
                </td>

                <td><%=  number_to_currency(cart_item.product.price) %></td>
                <td>$0.00</td>
                <td><%=  number_to_currency(price_by_quantity(cart_item)) %></td>

                <td>
                  <%= link_to new_order_path(:todelete => "#{(cart_item.id)}"), method: :delete, data: { confirm: 'Are you sure you want to remove this item from your cart?'}  do %>
                    <i class="fa fa-trash-o"></i>
                  <%end%>
                </td>
              <% end %>
              </tr>



              <%end%>
              </tbody>

              <tfoot>
                <tr>
                  <th colspan="5">Total</th>
                  <th colspan="2"><%= number_to_currency(@subtotal) %></th>
                </tr>
                <tr>
                <td>

                <%= flash[:alert] %>

                <% if @rates == nil || @rates.class != Array  %>

                <%= form_tag shipping_path %>
                  <%= label_tag :country %>
                  <%= text_field_tag :country %>

                  <%= label_tag :state %>
                  <%= text_field_tag :state %>

                  <%= label_tag :city %>
                  <%= text_field_tag :city %>

                  <%= label_tag :zip %>
                  <%= text_field_tag :zip %>

                  <%= submit_tag %>

                  <% else %>

                  <%= form_for @order, url: shipping_update_path, method: :post do |f| %>
                    <%= f.label :'Shipping Options' %>
                    <%= f.select :shipping_rate, options_for_select(@rates_array) %>

                    <%= f.submit :'Proceed to Checkout' %>
                  <% end %>
                <% end %>
                </td>
                </tr>
              </tfoot>
            </table>
          </div>


          <div class="box-footer">
            <div class="pull-left">
                <a href="/products" class="btn btn-default"><i class="fa fa-chevron-left"></i> Continue shopping</a>
            </div>

            <div class="pull-right">
              <button class="btn btn-default"><i class="fa fa-refresh"></i>Update Cart</button>
            </div>

          </div>
          <!-- </form> -->
        </div>
        <!-- /.box -->


        <div class="row same-height-row">
          <div class="col-md-3 col-sm-6">
            <div class="box same-height">
              <h3>You may also like these products</h3>
            </div>
          </div>

          <% (0..2).each do |x| %>
          <div class="col-md-3 col-sm-6">
            <div class="product same-height">
              <div class="flip-container">
                <div class="flipper">
                  <div class="front">
                    <a href=<%="products/#{@products[x].id}"%>>
                      <%= image_tag @products[x].photo_url %>
                    </a>
                  </div>
                  <div class="back">
                    <a href=<%="products/#{@products[x].id}"%>>
                      <%= image_tag @products[x].photo_url, class: "img-responsive" %>
                    </a>
                  </div>
                </div>
              </div>

              <a href=<%="products/#{@products[x].id}"%> class="invisible">
                <%= image_tag @products[x].photo_url%>
              </a>
              <div class="text">
                  <h3><%="#{@products[x].name}"%></h3>
                  <p class="price"><%="#{ number_to_currency(@products[x].price)}"%></p>
              </div>
            </div>
            <!-- /.product -->
          </div>
          <%end%>
        </div>
      </div>
      <!-- /.col-md-9 -->

      <div class="col-md-3">
        <div class="box" id="order-summary">
          <div class="box-header">
            <h3>Order summary</h3>
          </div>

          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td>Order subtotal</td>
                  <th><%= number_to_currency(@subtotal) %></th>
                </tr>
                <tr>
                  <td>Tax</td>
                  <th><%= number_to_currency(@subtotal * 0.10) %></th>
                </tr>
                <tr class="total">
                  <td>Total</td>
                  <th><%= number_to_currency(@subtotal * 1.1) %></th>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
      <!-- /.col-md-3 -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /#content -->

</div>
<!-- /#all -->
