<h2>Order #<%= @order.order_number %></h2>

<h3>Items:</h3>
  <% @order_items.each do |item| %>
  <ul>
    <li>Product: <%= link_to item.name, product_path(item.product_id) %></li>
    <li>Quantity: <%= item.quantity %></li>
    <li>Price: <%= number_to_currency(price_by_quantity(item)) %></li>
    <li>Status: <%= item.status.capitalize %></li>
    <li>Purchased By: <%= @order.user_id.nil?? "guest" : @order.user.username %></li>
    <li>Purchased On: <%= item.created_at.strftime("%B %d %Y") %></li>
  </ul>
  <% end %>

<h3>Order Total: <%= number_to_currency(@order.total) %></h3>

<% if merchant_fulfillment_view %>
<h3>Customer Details:</h3>
  <%= @order.user.username %>
  <%= @order.user.email %>
  <%= @order.billing.address %>
  <%= @order.billing.address2 if @order.billing.address2 %>
  <%= @order.billing.cc[-4..-1] %>
  <%= @order.billing.expiration_date %>
<% end  %>


<!-- Each item in the order with a quantity and line-item subtotal
A link to the item description page
Order total price
DateTime the order was placed
The current status of the order -->
