<h2>Order #<%= @order.order_number %></h2>

<p>Items:</p>
  <% @order_items.each do |item| %>
  <ul>
    <li>Product: <%= item.name %></li>
    <li>Quantity: <%= item.quantity %></li>
    <li>Price: <%= item.price %></li>
    <li>Status: <%= item.status %></li>
    <li>Buyer: <%= @order.user.username %></li>
  </ul>
  <% end %>

<h3>Order Total: <%= total_revenue(@order) %></h3>


<!-- Each item in the order with a quantity and line-item subtotal
A link to the item description page
Order total price
DateTime the order was placed
The current status of the order -->
