<h3> Billing Info: </h3>
<%= form_for [@user, @billing], url: orders_path(), html: { method: :post } do |f| %>

  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :address2 %><br>
    <%= f.text_field :address2 %>
  </p>
  <p>
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </p>
  <p>
    <%= f.label :billing_zip %><br>
    <%= f.text_field :billing_zip %>
  </p>
  <p>
    <%= f.label :cc %><br>
    <%= f.text_field :cc %>
  </p>
  <p>
    <%= f.label :cvv %><br>
    <%= f.text_field :cvv %>
  </p>
  <p>
    <%= f.label :expiration_date %><br>
    <%= f.text_field :expiration_date %>
  </p>

    <% if current_user %>
      <%= f.hidden_field :user_id, value: @user.id %><br>
    <% end %>
  <p>
    <%= f.submit "Checkout", class: "btn btn-primary" %>
  </p>
<% end %>


  <div class="col-md-3">
    <div class="box" id="order-summary">
      <div class="box-header">
        <h3>Order summary</h3>
      </div>
      <p class="text-muted">Shipping and additional costs are calculated based on company policies.</p>

      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr>
              <td>Order subtotal</td>
              <th><%= number_to_currency(@subtotal) %></th>
            </tr>
            <tr>
              <td>Shipping and handling</td>
              <th><%=params[:carrier_choice]%></th>
            </tr>
            <tr>
              <td>Tax</td>
              <th><%= number_to_currency(@subtotal * 0.10) %></th>
            </tr>
            <tr class="total">
              <td>Total</td>
              <th><%= number_to_currency(@subtotal * 1.1 + 10) %></th>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
