<h1><%=@category[:name]%></h1>

<% if @show.empty? %>
  <h2>No products available for this category.</h2>
<%end%>

<<<<<<< HEAD
<div class="displaycontainer">

<% @show.each do |thing| %>
<div class="displayimages">
  <%= link_to product_path(thing), class: 'thumbnail' do %>
    <img class="img-responsive" src=<%="#{thing.photo_url}"%> />
  <%end%>

  <%= link_to thing[:name],product_path(thing) %>
   <br />
</div>
<% end %>
</div>
=======
<%= render '/shared/products' %>
>>>>>>> moreuser
