<!-- merhcant viewing their account products -->
<div class="container">
    <div class="row profile">
		  <div class="col-md-3">
			  <div class="profile-sidebar">
				  <!-- SIDEBAR USERPIC -->
				  <div class="profile-userpic">
					  <img src=<%= @user.profile_pic %> class="img-responsive" alt="">
				  </div>
				  <!-- END SIDEBAR USERPIC -->
				  <!-- SIDEBAR USER TITLE -->
				  <div class="profile-usertitle">
					  <div class="profile-usertitle-name">
						  <%= @user.username %>
					  </div>
					  <div class="profile-usertitle-job">
              <%= @user.email %>
					  </div>
				  </div>
				  <!-- END SIDEBAR BUTTONS -->
				  <!-- SIDEBAR MENU -->
				  <div class="profile-usermenu">
					  <ul class="nav">
						  <li>
							  <%= link_to user_path(@user) do%>
							    <i class="glyphicon glyphicon-home"></i>
                  Overview
                  <% end %>
					    </li>
              <li class="active">
              <%= link_to user_products_path(@user) do%>
                <i class="glyphicon glyphicon-tags"></i>
                View My Products
              <% end %>
              </li>
						  <li>
							  <a href="#">
							    <i class="glyphicon glyphicon-flag"></i>Help
                </a>
						  </li>
					  </ul>
				  </div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
      <div class="profile-content">
        <h2>Hi, I'm <%= @user.username.capitalize %>! Please browse through my products!</h2>
        <p>Biography: <%= @user.biography %></p>
        <% @products.each do |product|%>
          <% @product = product %>
          <%= render '/shared/showproduct' %>
          <%= "In Stock: #{@product.inventory}" %><br />
          <%= "Sold By: #{User.find(@product.user_id).username}" %>
          <% if @item_exists_in_cart.empty? %>
            <% @product.inventory == 0? @choice = 0 : @choice = 1 %>
            <%= form_tag(controller: "products", method: "post") do%>
              <%= select_tag(:quantity, options_for_select((0..@product.inventory).to_a, selected: @choice), id: "quantity") %>
              <%= hidden_field_tag(:product_id, @product.id) %>
              <%= submit_tag("Add to Cart") %>
            <%end%>
          <%else%>
            <p>Added to cart.</p>
          <%end%>
        <%end%>
      </div>
		</div>
	</div>
</div>

<center>
  <strong>Powered by <a href="http://j.mp/metronictheme" target="_blank">TEAm</a></strong>
</center>
