<h3> Add a Review: </h3>
<%= form_for [@product, @review], url: "/products/#{@product.id}/reviews", html: { method: :post } do |f| %>

  <p>
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </p>
  <p>
    <%= f.label :rating %>
    <%= f.select :rating, options_for_select((1..5).to_a) %>
  </p>
    <%= f.hidden_field :product_id, value: @product.id %><br>

    <% if current_user %>
      <%= f.hidden_field :user_id, value: current_user.id %>
    <% end %>
  <p>
    <%= f.submit %>
  </p>
<% end %>
