<!DOCTYPE html>
<html>
<head>
  <title>Betsy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="build.css">
</head>
<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Traverse!</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "HOME", root_path %></li>
        <li><%= link_to "PRODUCTS", products_path %></li>
        <li><%= link_to "ORDERS", orders_path %></li>
        <li><%= link_to "USERS", new_user_path %></li>
        <li><%= link_to "Cart", new_order_path, class: "btn btn-default" %></li>
      </ul>

      <% if current_user %>
         <ul class="nav navbar-nav navbar-right">
          <li><%= link_to new_user_path do %><span class="glyphicon glyphicon-user"></span><% end %></li>
          <li><%= link_to root_path do %><span class="glyphicon glyphicon-log-in"></span><% end %></li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to root_path do %><span class="glyphicon glyphicon-log-out"></span><% end %></li>
        </ul>
      <% end %>
    </div>
  </nav>




<article class="container">
  <%= yield %>
</article>

</body>
</html>
